body {
	font-family: tahoma;
	height: 100vh;
	min-height: 550px;
	background-image: url("lake.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	overflow-y: hidden;
}

a {
	text-decoration: none;
	color: #444444;
}

.login_reg_panel {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	width: 70%;
	right: 0;
	left: 0;
	margin: auto;
	height: 400px;
	background-color: rgba(30,30,30,0.9);
}

.white_panel {
	background-color: rgba(255, 255, 255, 1);
	height: 500px;
	position: absolute;
	top: -50px;
	width: 50%;
	right: calc(50% -50px);
	transition: .3s ease-in-out;
}

.login_reg_panel input[type="radio"] {
	position: relative;
	display: none;
}

.login_reg_panel {
	color: #b8b8b8;
}

.login_reg_panel #label_login,
.login_reg_panel #label_register {
	border: 1px solid #939393;
	padding: 0 5px;
	width: 150px;
	display: block;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
}